doctype html
html.no-js(lang="")
    head
        include shared/_head
        title Start frontend template

        
    body
        h1 Hello, world!

        // Footer Starts
        include shared/_footer
